@import "../styles/variables.scss";

.container {
  padding: 10rem 4rem;

  background-color: $color-light-gray;
}

.wrapper {
  max-width: 120rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.title {
  font-size: 3.6rem;
  font-weight: 500;
}

.articles {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4rem;
}

@media screen and (max-width: 1100px) {
  .articles {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .articles {
    grid-template-columns: 1fr;
  }
}
