@import "../styles/variables.scss";

.container {
  height: calc(100vh - 8rem);

  background-color: $color-light-gray;
  background-image: url("images/bg-intro-desktop.svg");
  background-repeat: no-repeat;
  background-position: left 50vw top 50%;
}

.wrapper {
  height: 100%;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info {
  margin: 0 auto;
  max-width: 40rem;
  padding-left: 4rem;
  align-items: self-start;
  gap: 2.6rem;
  z-index: 5;

  .heading {
    font-size: 4.5rem;
    font-weight: 700;
    color: $color-dark-blue;
  }
}

.photos {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  width: 50vw;
  position: relative;
  // overflow: hidden;

  img {
    min-width: 50rem;
    width: 100%;
    transform: translateX(10rem);
    position: absolute;
    right: -10%;
    z-index: 1;
  }
}

@media only screen and (max-width: 700px) {
  .container {
    height: auto;
    background-position: left 10vw top 90%;
  }

  .wrapper {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 2rem;
  }

  .column {
    width: 100%;
  }

  .info {
    padding-top: 8rem;
  }

  .photos {
    width: 100%;
    align-items: flex-end;
    justify-content: flex-end;
    text-align: center;
  }
  img {
    transform: none;
    position: static !important;
    transform: none !important;
  }
}
