@import "../styles/variables.scss";

.container {
  height: calc(100vh - 8rem);
  width: 100%;
  padding: 0 4rem;
  background-color: $color-light-gray;
  background-image: url("images/bg-intro-desktop.svg");
  background-repeat: no-repeat;
  background-position: left 50vw top 50%;
}

.wrapper {
  height: 100%;
  max-width: 120rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 4rem;
}

.column {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.info {
  max-width: 40rem;
  align-items: self-start;
  gap: 2.6rem;
  z-index: 5;

  .heading {
    font-size: 4.5rem;
    font-weight: 700;
    color: $color-dark-blue;
  }
}

.photos {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  width: 50vw;
  position: relative;

  img {
    min-width: 50rem;
    max-width: 180rem;
    width: 100%;
    transform: translateX(10rem);
    position: absolute;
    right: -15%;
    z-index: 1;
  }
}

@media only screen and (max-width: 700px) {
  .container {
    height: auto;
    background-position: left 10vw top 90%;
  }

  .wrapper {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: flex-start;
    padding: 4rem 0;
  }

  .column {
    width: 100%;
  }

  .info {
    padding-top: 8rem;
  }

  .photos {
    width: 100%;
    align-items: flex-end;
    justify-content: flex-end;
    text-align: center;
    img {
      min-width: 20rem;
      transform: none;
      position: static !important;
      transform: none !important;
    }
  }
}

@media only screen and (max-width: 350px) {
  .info {
    .padding-top: 2rem;

    .heading {
      font-size: 3.5rem;
      font-weight: 700;
      color: $color-dark-blue;
    }
  }
}
